<div class="container">

    <div class="col">
      <h2>
        {{titulo}}
      </h2>
    </div>
    <hr />
    <form class="form-row">
        <div class="form-group col-md-2">

            <input type="text"
                   class="form-control"
                   name="nombre" id="nombre"
                   placeholder="Ingrese Nombre" [(ngModel)] ="nombreInput">
        </div>
        <br>
        <div class="form-group col-md-2">

          <input type="text"
                 class="form-control"
                 name="apellido" id="apellido"
                 placeholder="Ingrese Apellido" [(ngModel)] ="apellidoInput">
      </div>
      <br>
      <div class="col">
        <button class="btn btn-primary" type="submit" (click)="agregarPersona()">
          Agregar
        </button>
      </div>
    </form>
  </div>
<br>

<app-persona *ngFor="let personaElemento of personas; let i = index"
[persona] = "personaElemento"
[indice] = "i"
></app-persona>
